@import 'base'
@import 'mixin'
.page
    @include size(100vw, 100vh)
    padding: 5px
    position: absolute
    top: 0
    left: 0
.main-container
    @include size(100%, 100%)
    padding: 3%
    @include border(10px, solid, 2px, #fcb786)
    background-image: linear-gradient(to right, #fbc6a2 25%, #ff9446 50%, #fbc6a2 75%)
.first-container
    @include size(100%, 100%)
    padding: 2% 2% 0 2%
    @include border(3vw, solid, 0.5vw, #fff5e4)
    background-color: #feebc1
.nav-button
    @include size(10vw, 10vw)
    @include maxSize(50px, 50px) 
    @include border(50%, solid, 0.2vw, white)
    @include bgImg(none, 50%)
    box-shadow: inset 0.2vw 0.2vw 0.8vw white, inset -0.2vw -0.2vw 0.8vw white
    filter: blur(0.7px)
    &:focus
        outline: none
    &:hover
        filter: blur(0)
.app-header
    @include size(100%, 12%)
    padding-bottom: 2vw
    @include flex(row, space-between)
.column-justify-center
    @include flex(column, center)
.index-brand
    font-size: 2.5vw
.matchs-section
    @include size(100%, 88%)
    position: relative
    @include flex(row, center, wrap)
.search-nav
    @include size(98%, 36vh)
    @include border(4vw, solid, 0.2vw, #fdbb0c)
    background-image: repeating-linear-gradient(-45deg,#fdbb0c, #fdc359, #fdbb0c 30%)
.search-filter
    padding: 2vw 3vw
    @include flex(row, space-evenly)
    list-style: none
    input[type=text], select
        padding: 0.2vw 2vw
        @include border(1vw, solid, 0.2vw, #ffffff80)
        background-color: #ffffff80
        box-shadow: inset 0.1vw -0.1vw 0.8vw #ffffff80, inset -0.1vw -0.1vw 0.8vw #ffffff80
        &:focus, &:hover
            outline: none
            transform: scale(1.2)
.matchs-list
    @include size(100%, 83%)
    padding: 0 10%
    overflow-y: scroll
    position: absolute
    bottom: 0
    list-style: none
.match
    @include size(100%, 30vw)
    padding: 2vw
    @include border(3vw, dashed, 0.3vw, #ff974c)
    margin-bottom: 3vw
    @include flex(row, space-between, wrap)
    .score-circle-c
        @include size(5vw, 5vw)
        @include border(50%)
        margin: auto
        background-color: aquamarine
        box-shadow: inset 0 1px 1px black
        div
            @include size(4vw, 4vw)
            @include border(50%)
            margin: auto
            @include position(relative, 50%)
            transform: translateY(-50%)
            background-color: white
            box-shadow: 0 1px 1px black
            h3
                @include position(relative, 50%, unset, unset, 50%)
                transform: translate(-50%, -50%);
                text-align: center;
    .match-footer
        @include size(100%, 10%)
        padding: 1vw
        @include flex(row, center)
        button
            @include size(fit-content, fit-content)
            padding: 0.5vw 3vw
            @include border(3vw, solid, 0.3vw, #ff974c)
            box-shadow: inset 0.2vw 0.2vw 0.6vw #ff974c, inset -0.2vw -0.2vw 0.6vw #ff974c
            font-weight: 500
            font-size: 1.5vw
            filter: brightness(0.95)
            &:focus
                outline: none
                filter: brightness(1.05)
            &:hover
                filter: brightness(1.05)
.matching-item
    @include size(30%, 25vw)
    padding: 2vw
    @include border(3vw, solid, 0.2vw, #feebc1)
    @include flex(column, space-between, wrap)
    background-color: #fec9b1
    box-shadow: inset 0 3vw 7vw white, inset 0 -3vw 7vw white
    .item-title
        font-weight: 600
    .item-title, .item-price
        font-size: 1.6vw
        color: #6a5d89
        text-shadow: 0.2vw 0 0.1vw #a395be, -0.2vw 0 #d5c6dd
    .item-price
        font-size: 1.3vw
        text-shadow: 0.1vw 0 0.1vw #a395be, -0.1vw 0 #d5c6dd
    @at-root section.matching-item
        height: fit-content
        margin-top: 1vw
        font-size: 1.3vw
        h3
            margin: 0 0 1vw 0
            color: white
            text-shadow: 0.1vw 0.1vw 0.2vw #2e2e2e, -0.1vw -0.1vw 0.2vw #2e2e2e, -0.1vw 0.1vw 0.2vw #2e2e2e, 0.1vw -0.1vw 0.2vw #2e2e2e, 0.1vw 0.1vw #2e2e2e, -0.1vw -0.1vw #2e2e2e, -0.1vw 0.1vw #2e2e2e, 0.1vw -0.1vw #2e2e2e;
        .score-circle-c
            >div
                background-color: #feddce
        >ul
            margin-top: 1vw
            @include flex(column, space-between, wrap)
            list-style: none
            >li
                padding: 0.5vw
                margin: 0.5vw 0
                @include border(3vw, solid, 0.1vw, #00000026)
                text-align: center
                box-shadow: inset 0.2vw 0.2vw 0.8vw white, inset -0.2vw -0.2vw 0.8vw white